/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/draft.yaml
/.blueprint

.DS_Store
dist
dist-ssr
*.local

.vite-ssg-dist
.vite-ssg-temp
.idea/
public/build/
