@import 'tailwindcss/base';
@import './base/variables.css';
@import './theme/ema.css';
@import './theme/ga-sps.css';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* PrismJS theme fix */
pre[class*='language-'] {
  margin: 0;
  border-radius: 0;
  @apply rounded-b-xl bg-gray-800;
}

@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: c7d2fe;
    --color-text-inverted: #4f4635;
    --color-fill: #4338ca;
    --color-button-accent: #ffffff;
    --color-button-accent-hover: #eef2ff;
    --color-button-muted: #6366f1;
  }
}
